/*Elementos do body - Todas as páginas*/

body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: #9f9fdd;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

/* FIM */

/*Elementos do menu - Todas as páginas*/

#menu {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: fit-content;
}
  
.menu-item {
    float: left;
}
  
.menu-link {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.menu-link:hover {
    background-color: #111;
}

/* FIM */

/*Elementos do card - derik.html e nickolas.html*/

.card {
    width: 700px;
    height: auto;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5e5e5e;
    text-align: center;
    padding: 2px 15px 2px 15px;
    transform: translateX(300px);
    border-radius: 10px;

}

.img {
    border-radius: 20px;
}

/* FIM */

/*Elementos da tabela - curiosidades.html*/

table, th, td {
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    border: solid 3px;
    border-color: #000000;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

th {
    text-align: left;
    color: #aaaa91;
}

thead {
    background-color: #383845;
}

tbody tr:hover {
    background-color: grey;
}

td {
    padding: 15px;
}

/* FIM */

/*Elemento do h2 - curiosidades.html*/

#h2 {
    text-align: center;
}

/* FIM */

/*Cards do home - home.html*/

#card_derik {
    display: inline-block;
    align-items: center;
    text-align: center;
    margin: 0 0 0 275px;
    width: 400px;
    height: 400px;
    background-color: #5e5e5e;
    border-radius: 10px;
}

#card_derik:hover {
    background-color: #12122b;
}

#card_nickolas {
    display: inline-block;
    align-items: center;
    text-align: center;
    margin: 0 0 0 150px;
    width: 400px;
    height: 400px;
    background-color: #5e5e5e;
    border-radius: 10px;
}

#card_nickolas:hover {
    background-color: #12122b;
}

/* FIM */